.meio h2{
    color: #fff;

}

.meio p{
    color: #595959;
}

.meio ul{
    color: #595959;;
}

.servicos-bg{
    background: linear-gradient(to right, #fff 35%, #1F212E 35%);
}

.servicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.servico-conteudo{
    display: grid;
    align-content: start;
    grid-template-columns: 1fr 1fr;
}

.servico-conteudo h2,
.servico-conteudo p{
    grid-column: 1/ -1;
}


.servico-conteudo h2{
    margin-bottom: 20px;
}

.servico-conteudo h2::before{
    content: "";
    display: block;
    width: 12px;
    height: 8px;
    background: linear-gradient( #021bfd, #1e2ca5);
}


.servicos p{
    margin-bottom: 32px;
}

.servicos a{
    place-self: end;
}

.servicos li{
    display: flex;
    align-items: center;
}

.servicos ul{
    display: grid;
    gap: 16px;
}

.servico-conteudo img{
    width: 24px;
    margin-right: 8px;
}


@media (max-width: 800px){
    .servicos{
        grid-template-columns: 1fr;
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 600px){

    .servicos-bg{
        background-color: #1F212E;

    }
    .servico-conteudo{
        grid-template-columns: 1fr;
    }

    .servicos ul{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 32px;

    }

    .servicos a {
        place-self: start;
    }
}