.texto-grande{
    font-family: 'Fjalla One', sans-serif;
    font-size: 6rem;
    line-height: 1.125;
}

.texto-descricao{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

.texto-3{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2rem;
    line-height:2.25rem ;

}

.texto-4{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1rem;
    line-height:1.5rem;

}

.texto-5{
    font-family: 'Fjalla One', sans-serif;
    font-size: 4rem;
    line-height:4rem;
    color: #fff;
}

.texto-6{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.texto-7{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 3rem;
}

.texto-8{
    font: 600 4rem/1.125 'Fjalla One', sans-serif;
   
    
}

.texto-9{
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #fff;
}

.font-2-s {
    font: 400 1rem/1.5 "Ubuntu Condensed", sans-serif;
}

.font-2-l,
.font-2-l-b {
  font: 400 1.5rem/1.5 "Ubuntu Condensed", sans-serif;
}

.font-1-l {
    font: 600 1.5rem/1.5 "Ubuntu Condensed", sans-serif;
}

.font-1-m-b {
    font-weight: 600;
  }

  .font-1-m,
  .font-1-m-b {
    font: 500 1.125rem/1.35 "Ubuntu Condensed", sans-serif;
  }

  .font-2-xs {
    font: 400 0.875rem/1.43 "Ubuntu Condensed", sans-serif;
  }

.ponto{
    color: #2128C6 ;
}
