.tecnologia-bg{
    background-color: #1F212E;
    box-shadow: inset 0 80px #fff,inset 0 -80px #fff;

}

.tecnologia-conteudo h2{
    padding-bottom: 20px;
}

.tecnologia p{
    color: #8E8E8E;
}

.tecnologia{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.tecnologia-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: right;
}

.tecnologia-conteudo{
    padding-top: 120px;
    padding-bottom: 120px;
}

.tecnologia-conteudo > p{
    margin-bottom: 20px;

}
.tecnologia a{
    margin-bottom: 80px;
}

.tecnologia-vantagens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.tecnologia-vantagens h3{
    color: #fff;
    margin-bottom: 8px;
    width: max-content;
    
}

@media (max-width:800px){

    .tecnologia-bg{
        box-shadow: initial;
    }
    .tecnologia{
        grid-template-columns: 1fr;
    }

    .tecnologia a{
        margin-bottom: 40px;
    }

    .tecnologia-conteudo{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .tecnologia-img{
    display: none;
    }
}


@media (max-width:450px){
    .tecnologia-conteudo h2{
        font-size: 3rem;

    }


}


