.servicoD{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: start;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.servicoD-img{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.servicoD-img img{
    flex: 1;
    min-width: 200px;
}


.servicoD-img img:first-child{
   min-width: 100%;
}


.servicoD-cont > p{

    margin-bottom: 32px;
}


.servico-comprar{
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    justify-items:start ;
    gap: 8px 12px;
}

.servico-comprar a{
    grid-row: span 2;
}

.servico-comprar span{
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 4px 8px ;
   border-radius: 5px;
}

.servicoD-cont h2{
   text-transform: uppercase;
   letter-spacing: 0.15em;
   margin-bottom: 12px;
   margin-top: 32px; 
}

.servico-informacoes{
    padding: 32px;
    border-radius: 4px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
}

.servico-informacoes img{
    width: 24px;
    margin-bottom: 8px;
}

.servico-informacoes h3{
    width: 24px;
    margin-bottom: 8px;
}

@media (max-width: 800px){
    .servicoD{
        grid-template-columns: 1fr;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .servicoD-img{
        grid-row: 2;

    }
}

@media (max-width: 400px){
    .servico-informacoes{
        grid-template-columns: 1fr;
    }
}